@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');

:root{
    --background-color: #F2F2F2;    /* Carrara Marble */
    --background-color2: #F1E9D2;   /* Parchment / Aged Marble / Antique White */

    --primary-color: #8B0000;       /* Imperial Red */
    --secondary-color: #D4AF37;     /* Roman Gold */
    --terciary-color: #4B0082;      /* Imperial Purple */
    --quaternary-color: #111184;    /* Dark Blue */
    --quinary-color: #006C4E;       /* Roman Green */

    --shadow-color: #7A5C12;        /* Ancient Bronze */

    --text-color: #1C1C1C;          /* Deep Charcoal */
    --text-primary-font: 'Cinzel', serif;
    --text-secondary-font: 'Montserrat', sans-serif;
}
